<!DOCTYPE html>
<html>
<head>
  <title>Product List</title>
  <style>
    .product {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }

    .product img {
      width: 200px;
      height: 200px;
    }

    .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.1rem;
    color: #fff;
    background: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s;
    cursor: pointer;
    margin-top: 10px;
}
  </style>
</head>
<body>
  <h1>Product List</h1>
  <div class="product-list">
    <% products.forEach(product => { %>
      <div class="product">
       <img src="/image/<%= product.image %>" alt="<%= product.name %>">
        <h2><%= product.name %></h2>
        <p>Price: <%= product.price %></p>
        <a href="/cart/<%= product.id %>" class="btn">add to cart</a>
      </div>
    <% }) %>
  </div>
</body>
</html>